html {
	font-family: 'Noto Sans KR';
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}


a {
	text-decoration: none;
}

fieldset {
	border: 0;
}

input {
	border-radius: 0;
	border:none;
	text-decoration: none;
	-webkit-appearance:none;
}


#wrapper {
	position: relative;
	width: 100%;
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;
	background-color: white;
	box-sizing: border-box;
}

header.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

main {
	min-height: 900px;
	padding-top: 6em;
}

footer {
	height: 300px;
	bottom: 0;	
	padding: 5px;
	background-color: rgb(53, 51, 46);
}

*:focus {
    outline: none;
}


.grid {
	display:flex;
}

.row-wrap {
	flex-direction: row;
}

.col-wrap {
	flex-direction: column;
}

.ai-center {
	align-items: center !important;
}

.mx-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

.banner {
	width: 100%;
	height: 300px;
	margin-bottom:24px;
	text-align: center;
	position:relative;
}

.banner h1 {
	color: white;
	padding-top: 110px;
	padding-bottom: 110px;
}
.layer {
    background-color: rgba(90,90,90, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

select {
	text-align-last: center;
   text-align: center;
   -ms-text-align-last: center;
   -moz-text-align-last: center;
}
