#notice__list th {
	border-bottom: 2px solid rgb(128, 128, 128);
}

#notice__list, #notice__list td {
	font-size: 16px;
	letter-spacing: -0.6px;
	border-bottom: 1px solid rgba(128, 128, 128, 0.3);
	padding-top: 0px;
	padding-bottom: 0px;
}

#notice__list img {
	width: 15px;
	height: 15px;
    margin: -2px 0px;
}

.notice__banner h1{
	position: relative;
	top: -14px;	
}

.search__result {
	display: none;
}

button[id="new"] {
	position: absolute;
	width: fit-content;
	height: fit-content;
	padding-top: 2px;
    padding-bottom: 2px;
	margin: 5px 7px;
    background-color: #e91b23;
    border-radius: 4px;
    color: #efefef;
    border-style: none;
    font-size: 9px;
}