#course__container {
    flex-direction: column;
}

#course__banner {
    background: url("../image/course-banner.png");
}

#course__banner h1{
	position: relative;
	top: -14px;
}

#course__search img {
    width: 21px;
    height: 21px;
    padding: 0px 12px;
}

#course__search__in {
    height: 13px;
    padding: 12px 8px 12px 0px;
    background: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.8);
}

#course__search__in > input {
    margin: 0px;
    width: 130px;
    height: 14px;
}

#course__list {
    width: 100%;
    border-collapse: collapse;
}

#course__list th {
    border-bottom: 2px solid rgba(128, 128, 128, 1);
    height: 60px;
}

#course__list td {
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    padding: 8px 12px;
    height: 60px;
    font-size: 0.9em;
}

#course__name {
    text-align: left;
    padding-left: 30px !important;
}

#course__name a {
    color: black;
}

#course__btn {
    width: fit-content;
    border-radius: 6px;
    border-style: none;
    background: #e91b23;
    color: white;
    padding: 8px 12px;
    font-size: 13px;
    cursor: pointer;
}

#Pagination {
    width: 1000px;
}

#pagination {
    list-style: none;
    padding-left: 0;
    width: fit-content;
}

#pagination li {
    display: inline-block;
    margin: 20px 20px;
}

#pagination li a {
    color: #757575;
}

#pagination .active a {
    font-weight: 600;
    color: #4d4d4d;
}
