

#login__banner {
	background:url("../image/login-banner.png");
}

#login__container {
	flex-direction: column;
	padding: 40px 300px;
	width: 460px;
	height: 500px;
}

.login__form {
	width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.login__form input {
	width: 90%;
    height: 40px;
    border-radius: 0.5em;
    background: #ececec;
    padding: 0.5em 0em 0em 1em;
    margin-bottom: 0.8em;
}

#login__id #login__pw {
	padding: 5px;
}

#login__btn {
	width: 93%;
    height: 49px;
    border-radius: 0.5em;
    color: white;
    background: #e91b23;
    font-weight: 800;
    font-size: 1em;
    cursor: pointer;
    padding: 0em 0em 0em 0em;
}

#login__help {
	text-align: center;
}

#login__help div {
	padding: 30px;
	height: 40px;
	letter-spacing: -1px;	
}

#login__help span {
	display: block;
	margin: 15px 5px;
}
#login__help a {
	display: block;
    font-size: 0.9em;
	text-decoration: underline;
	margin: 20px 5px;
}

#join {
	margin-top: 1em;
}
