/*메인 캐러셀에는 next, prev 버튼 없음*/
.main__carousel button[class~="slick-arrow"] {
	display: none !important;
}

.main__carousel div img {
	width: 100%;
	height: 400px;
}

/*text css*/
#text__wrapper {
    width: 100%;
    position: absolute;
    top: 100px;
    justify-content: center;
}

#main__banner__text {
	max-width: 970px;
	color: white;
	padding: 0 26px;
	font-family: 'Noto Sans KR';
	letter-spacing: -0.9px;
	word-spacing: -0.5px;
}


#text__1 {
	font-size: 26px;
	font-weight: 200;
	line-height: 37px;	
}

.big__text {
	font-size: 30px;
	font-weight: 700;
}

#text__2 {
	font-size: 15px;
	font-weight: 200;
	line-height: 23px;
	letter-spacing: -0.5px;
}

#text__wrapper button {
    background-color: #ececec;
    color: #4d4d4d;
    font-family: 'Noto Sans KR';
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -1.5px;
    border-radius: 12px;
    border-style: none;
    width: 100px;
    height: 32px;
    margin-top: 15px;
}

.button__wrapper {
	list-style: none;
	padding: 0;
	margin-left: 5px;
}

#quickview__wrapper {
	width: 1000px;
	height: fit-content;
	margin-top: 20px;
	padding-bottom: 20px;
	justify-content: space-between;
}

#course__quickview__navigator { /*월(月) 버튼*/
	justify-content: flex-start;
	margin: 10px;
}

.button__wrapper li {
	font-size: 23px;
    font-weight: 500;
    margin-right: 25px;
}

#nav__wrapper {
	justify-content: space-between;
}

#nav__wrapper > a {
	height: fit-content;
	padding-top: 39px;
    padding-right: 17px;
}
.course__cards {	/*강의 카드 목록*/
	width: 800px;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.column {
	width: 33.333333%;	
}

.card {	/* 강의 카드 */
	position: relative;
    width: 240px;
    height: fit-content;
    padding: .75rem;    
}

.card:hover .card__back {
	opacity: 1;
	height: calc(100% - 24px);
}

.hidden {
	display:none;
}

.card__image {
    background-repeat: no-repeat;
    width: 240px;
    height: 105px;
    text-align: center;
    padding-top: 5px;	
}

.card__image img {
	width: 90px;
}

.card__contents {
	width: 240px;
	font-size:14px;
}

.course__title {
	font-weight: 500;
}

.course__date {
	color: #787878;
	padding-top: 8px;
}

.card__back {
	position: absolute;
	top: 12px;
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
	width: inherit;
	height: 0px;
	transition: height 0.2s linear;
	opacity: 0;
}

.card__back a {
	position: absolute;
    padding: .75rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
}

.card__back a .course__title {
	word-break: keep-all;
}

.card__back a p {
	margin: auto !important;
}

#more {
	width: fit-content;
	padding: 5px 12px;
	border-style: none;
	border-radius: 4px;
	margin: 0px auto;
	cursor: pointer;
}

#article__quickview { /* faq, 공지사항, 오시는 길, 내비게이션 */
	padding-top: 87px;
}

#article__quickview ul {
	margin: 0;
	padding: 0;
}

#article__quickview ul li{
    border-bottom: 2px solid #eeeeee;
    padding-top: 7px;
    padding-bottom: 7px;
}

#article__quickview img {
	width: 30px;
	height: 30px;
}

#article__quickview span {
	padding-left: 19px;
	color: #555555;
	font-weight: 500;
}

