/*text css*/
#text__wrapper {
    width: 100%;
    position: absolute;
    top: 150px;
    justify-content: center;
}

#main__banner__text {
	max-width: 970px;
	color: white;
	padding: 0 26px;
	font-family: 'Noto Sans KR';
	letter-spacing: -0.9px;
	word-spacing: -0.5px;
}


#text__1 {
	font-size: 26px;
	font-weight: 200;
	line-height: 37px;	
}
.big__text {
	font-size: 30px;
	font-weight: 600;
}
#text__2 {
	font-size: 15px;
	font-weight: 200;
	line-height: 23px;
	letter-spacing: -0.5px;
}

#month__button {
	list-style: none;
	padding: 0;
	margin: 5px 12px;
}

#course__carousel img {
	width: 190px;
	height: 245px;
}

.carousel-item {
 display: flex !important; 
 margin-right: 0 !important;
 -webkit-box-align: center !important;
 -ms-flex-align: center !important;
 align-items: center !important;
 }
 
 .carousel-item .active {
  display: flex !important; 
 } 