#course__banner {
	width: 100%;
	height: 305px;
	background-color: rgb(233, 27, 34);
}

#course__wrapper {
	width: 1000px;
	margin-top: auto;
	margin-bottom: auto;
}



#course__logo {
	width: 275px;
	height: 275px;
	background: rgb(238,238,238);
	border-radius: 40px;
	margin-right: 	20px;
	justify-content: center;
}

#course__logo img {
	width: 180px;
}

#intro__wrapper {
	justify-content: space-evenly;
}


#course__intro {
	width: 420px;
	flex-direction: column;
	justify-content: space-evenly;
	color: white;
	font-size: 16px;
	font-weight: 300;
	padding-left: 20px;
	margin-left: 20px;
}


#course__intro p {
	margin: 12px 0px;
}

#course__name {
	font-size: 28px;
	font-weight: 400;
}


#enroll__button { 
	width: 165px;
	height: 37px;
	float: right;
	background: #ec7880;
	border-radius: 5px;
	margin: 5px;
	margin-left:40px;
	color: white;
	border-style: none;
}

#enroll__button a {
    display: block;
    font-size: 15px;
    color: white;
    text-align: center;
    letter-spacing: -0.5px;
    padding-top: 7px;
}



/*메인 섹션*/
#course__detail {
	flex-direction: column;
	width: 1000px;
	margin-top: -40px;
}


/*강의계획서 css*/
#syllabus__contents {
	width: 1000px;
	letter-spacing: -0.5px;
	
}

.detail__title {
	font-size: 30px;
	font-weight: 600;
	color: #e92028;
}

.detail {
	display: block;
	width: 900px;
	height: fit-content;
	font-size: 15px;
	margin-bottom: 60px;
	white-space: pre-wrap; /*width가 넘어가는 경우 자동 줄바꿈처리*/
	font-family: 'Noto Sans KR';
	
}

#back__button__wrapper {
	width: 1000px;
	justify-content: flex-end;
	margin-top: 30px;
	margin-bottom: 30px;
}

#back__button {
	width: 50px;
	height: 27px;
	
	text-align: center;
	padding: 3px;
	border-radius: 2px;
	background-color: #f2f2f2;
}

#back__button a{
	font-size: 17px;
	color: black;
}